{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="modal fade" id="field_dialog_{{ id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable shadow-lg">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h4 class="modal-title float-start"></h4>
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
