{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
  {% set class_color = "badge-inactive text-bg-danger" %}
  {% set key_trans = 'status.inactive' %}

  {% if value %}
    {% set class_color = "badge-active text-bg-success" %}
    {% set key_trans = 'status.active' %}
  {% endif %}
  <span class="badge {{ class_color }} h4">{{ key_trans|trans({},'status',app.locale) }}</span>
{% endblock %}