{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% import 'bundles/SonataAdminBundle/CRUD/Macros/user_context.html.twig' as user_macro %}
{% block field %}
    {# Vérification que value existe et est un tableau #}
    {% if value is null or value is not iterable %}
        <span class="badge bg-secondary">DONNÉE INVALIDE</span>
    {% else %}
        {{ user_macro.display(value) }}
    {% endif %}
{% endblock %}