{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% import 'bundles/SonataAdminBundle/CRUD/Macros/custom_array_render.html.twig' as render %}

{% block field %}
    {% if value is iterable and value|length > 0 %}
        {{ render.render_dictionary(value) }}
    {% else %}
        <span class="text-muted">Aucune information légale enregistrée.</span>
    {% endif %}
{% endblock %}